
<mat-card>
    <div mat-subheader><h1>Add Category</h1></div>
    <mat-card-content>
        
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-10 offset-md-2">
                    <form (ngSubmit)="formSubmit()">
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Title</mat-label>
                            <input 
                            required
                            type="text"
                            name="title"
                            matInput
                            placeholder="Enter title"
                            [(ngModel)]="category.title"
                            />
                        </mat-form-field>
                            <br>
                        <mat-form-field class="w100" appearance="outline">
                            <mat-label>Description</mat-label>

                            <textarea 
                            name="description"
                            matInput
                            placeholder="Enter description"
                            rows="8"
                            [(ngModel)]="category.description"
                            ></textarea>
                        </mat-form-field>

                       <div class="container text-center mt20">
                        <button routerLink="/admin/view-categories" mat-raised-button color="primary">Add Category</button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </mat-card-content>

</mat-card>