.profile-images{
    max-width: 250px;
    max-height: 200px;
    border: 2px solid #ff4081;
    border-radius: 50%;
}

.tb{
    width: 100%;
   border-collapse: collapse;
}

.tb tr td{
    padding: 18px 15px;
    border: 0.5px solid  gray;
}