<div class="bootstrap">
    <div class="row mt20 ml20">
        <div class="col-md-12">
                <h1>Add Quiz Questions <span  style=" font-style: bold; color: brown;"> {{ qTitle }} </span></h1>
            <mat-card>                 

                <mat-card-header>
                    <mat-card-subtitle>
                        Enter All Question Here.
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>

                    <form class="mt20" (submit)="formSubmit()">
                        <!-- Content Field -->

                        <mat-form-field appearance="fill" class="w100" >
                            <mat-label>Question Content.?</mat-label>
                            <textarea
                            [(ngModel)]="question.content"
                            name="content"
                            matInput 
                            required
                            placeholder="Write Question">
                            </textarea>
                          </mat-form-field>
                          <!-- Options -->
                           <div class="row">
                            <div class="col-md-6">
                                <!-- Options -->
                                <mat-form-field class="w100">
                                    <mat-label>Option One</mat-label>
                                    <input
                                     [(ngModel)]="question.option1"
                                     name="option1"
                                     required
                                    type="text" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- Options -->
                                <mat-form-field class="w100">
                                    <mat-label>Option Two</mat-label>
                                    <input 
                                    [(ngModel)]="question.option2"
                                    name="option2"
                                    required
                                    type="text" matInput />
                                </mat-form-field>
                            </div>
                           </div>

                           <div class="row">
                            <div class="col-md-6">
                                <!-- Options -->
                                <mat-form-field class="w100">
                                    <mat-label>Option Three</mat-label>
                                    <input
                                    [(ngModel)]="question.option3"
                                    name="option3"
                                    type="text" matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <!-- Options -->

                                <mat-form-field class="w100">
                                    <mat-label>Option Four</mat-label>
                                    <input 
                                    [(ngModel)]="question.option4"
                                    name="option4"
                                    type="text"
                                     matInput />
                                </mat-form-field>
                            </div>
                           </div>
                           <!-- answare -->
                            <mat-form-field class="w100">
                                <mat-label>Select Answare</mat-label>
                                <mat-select
                                 [(ngModel)] ="question.answare"
                                 name="answare"
                                 required>
                                        <mat-option 
                                        *ngIf="question.option1"
                                         [value]="question.option1">{{ question.option1}}
                                        </mat-option>
                                        <mat-option
                                         *ngIf="question.option2"
                                         [value]="question.option2">
                                         {{ question.option2}}
                                        </mat-option>
                                        <mat-option 
                                        *ngIf="question.option3" 
                                        [value]="question.option3">
                                        {{ question.option3}}
                                    </mat-option>
                                        <mat-option
                                         *ngIf="question.option4" 
                                         [value]="question.option4">
                                         {{ question.option4}}
                                        </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <div class="container text-center">
                                <button mat-raised-button color="primary">Create Question</button>
                            </div>
                        </form>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

{{ question | json}}