<div class="bootstrap-wrapper">
    <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                  <mat-card>
                    <div class="container text-center">
                        <img src="../../../assets/logo.png" alt="logo"/>
                    </div>

                    <h1 class="text-center">Register Here</h1>

                    <!-- {{user | json}} -->
                      
                       <form (ngSubmit)="formSubmit()">
                       <!--user Name field--> 
                        <mat-form-field  class="full-width" appearance="fill">
                            <mat-label>User Name</mat-label>
                            <input
                            required
                            [(ngModel)]="user.userName"
                            name="userName"
                            type="text"
                            matInput placeholder="Enter here">
                            <mat-hint>User Name must be unique</mat-hint>
                          </mat-form-field>

                         <!--password field--> 
                         <mat-form-field  class="full-width" appearance="fill">
                            <mat-label>User password</mat-label>
                            <input
                            required
                            [(ngModel)]="user.password"
                            name="password"
                            type="password"
                            matInput placeholder="Enter here">
                          </mat-form-field>

                          <!--First Name-->
                          <mat-form-field  class="full-width" appearance="fill">
                            <mat-label>First Name</mat-label>
                            <input
                            required
                            [(ngModel)]="user.firstName"
                            name="firstName"
                            type="text"
                            matInput placeholder="Enter here">
                          </mat-form-field>

                          <!--Last Name-->
                          <mat-form-field  class="full-width" appearance="fill">
                            <mat-label>Last Name</mat-label>
                            <input
                            required
                            [(ngModel)]="user.lastName"
                            name="lastName"
                            type="text" matInput placeholder="Enter here">
                          </mat-form-field>

                          <!--Email-->
                            <mat-form-field  class="full-width" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input
                            required
                            [(ngModel)]="user.email"
                            name="email"
                            type="email"  matInput placeholder="Enter here">
                          </mat-form-field>


                          <!--Phone Number-->

                          <mat-form-field  class="full-width" appearance="fill">
                            <mat-label>Phone Number</mat-label>
                            <input
                            required
                            [(ngModel)]="user.phone"
                            name="phone"
                            type="number" matInput placeholder="Enter here">
                          </mat-form-field>

                          <div class="container text-center">
                            <button type="submit" mat-raised-button color="primary">Register</button>
                            <button style="margin-left:10px" mat-raised-button color="accent">Clear</button>
                          </div>
                     </form>
                    </mat-card>
                </div>
            </div>
    </div>
</div> 